/deploy.sh
/db.sqlite3*
/notes*
/deployment/tmp/*.sock
/deployment/tmp/*.pid
/deployment/log/*.log
/static
/media
/env
/*.conf
/.idea
~*
__pycache__
*.pyc
/.idea
/db.sqlite*
/deploy.sh
/deployment
/media
/notes*
/static
/*.conf
.*
/admin/whoosh_index
